.image-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.image-group figure {
  text-align: center;
  margin: 0;
}

.image-group figcaption {
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
  color: #444;
}

.characters {
background-color: #f8f8f8;
padding-top: 45px;
padding-bottom: 55px;
}
.character h2 {
font-size: 22px;
font-weight: bold;
text-align: center;
}
.character h2::after {
content: '';
display: block;
width: 36px;
height: 3px;
background-color: #000000;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}
.character-list {
display: flex;
padding-top: 40px;
padding-bottom: 10px;
padding-left: 60px;
padding-right: 60px;
overflow: scroll;
}
.character-list li {
flex-shrink: 0;
width: 260px;
margin-left: 75px;
}
.mcharacter-list li:first-child {
margin-left: 0;
}
@media (max-width: 800px) {
.character-list {
padding-left: 20px;
padding-right: 20px;
}
.character-list li {
width: 220px;
margin-left: 30px;
}
}